@{
    ViewData["Title"] = "About";
    var movies = new List<Movie>();
    movies = ViewData["movies"] as List<Movie>;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="utility">
        <div class="inline">
            <p class="inline">Search: </p>
            <input type="text" class="text-input inline" id="text-search" title="Search..." placeholder="Search..." />
            <button class="btn inline" id="btn-search" role="button" style="margin-bottom: 3px">Search</button>
        </div>
        <div class="inline">
            
        </div>
        <div class="inline float-right">
            <select class="select" id="option-setting" onchange="processOptionSetting(event)">
                <option value="none">options</option>
                <option value="update">update</option>
                <option value="refresh">delete</option>
            </select>
        </div>
    </div>
    <div class="table-container">
        <div id="dataContainer">
            <!-- The fetched partial view will be inserted here -->
            @await Html.PartialAsync("_MovieDataPartial", ViewData["movies"])
        </div>
    </div>
    <div id="update-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h2>Update</h2>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <div>
                    <p class="update-label">ID: </p> <input class="inline" id="update-id" disabled />
                </div>
                <div>
                    <p class="update-label">Name: </p> <input class="inline" id="update-name" />
                </div>
                <div>
                    <p class="update-label">Description: </p> <input class="inline" id="update-description" />
                </div>
                <div>
                    <p class="update-label">Actor: </p> <input class="inline" id="update-actor" />
                </div>
                <div>
                    <p class="update-label">Rating: </p> <input class="inline" id="update-rating" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" id="btn-cancel">Cancel</button>
                <button class="btn" id="btn-update">Update</button>
            </div>
        </div>

    </div>
</body>
</html>