@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href= "../wwwroot/css/Index.css">
</head>
<body>
    <h2>Videos in database</h2>
    <div>
        <div class="inline">
            <p class="inline">Search: </p>
            <input type="text" class="text-input inline"  title="Search..." placeholder="Search..." />
            <button class="btn inline" id="btn-search" role="button" style="margin-bottom: 3px">Search</button>
        </div>
        <div class="inline float-right">
            <button class="btn" role="button" id="btn-open-file">Open file</button>
        </div>
    </div>
    
</body>
</html>


