@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href= "../wwwroot/css/Index.css">
</head>
<body>
    <h2>Videos in database</h2>
    <div>
        <div class="inline">
            <p class="inline">Search: </p>
            <input type="text" class="text-input inline"  title="Search..." placeholder="Search..." />
            <button class="btn inline" id="btn-search" role="button" style="margin-bottom: 3px">Search</button>
        </div>
        <div class="inline float-right">
            <button class="btn" role="button" id="btn-open-file">Open file</button>
        </div>
    </div>
    <div class="table-container">
        <table id="movie-table">
            <tr>
                <th style="width: 7%">ID</th>
                <th style="width: 40%">Name</th>
                <th style="width: 20%">Path</th>
                <th style="width: 25%">Actor</th>
                <th style="width: 5%">Width</th>
                <th style="width: 5%">Height</th>
                <th style="width: 30%">ContentType</th>
                <th style="width: 7%">Rating</th>
                <th style="width: 10%">TotalBitrate</th>
                <th style="width: 10%">EncodingBitrate</th>
                <th style="width: 7%">Size</th>
                <th style="width: 7%">Deleted</th>
                <th style="width: 7%">Options</th>
            </tr>
            <tr>
                <th>12345</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
            </tr>
            <tr>
                <th>12345</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
            </tr>
            <tr>
                <th>12345</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
                <th>1</th>
            </tr>
        </table>
    </div>
    <pre></pre>
</body>
</html>


