@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href= "./css/site.csso">
</head>
<body>

    <h2>Videos</h2>

    <table id="movie-table">
        <tr>
            <th style="width: 7%">ID</th>
            <th style="width: 20%">Name</th>
            <th style="width: 10%">Path</th>
            <th style="width: 15%">Actor</th>
            <th style="width: 5%">FrameWidth</th>
            <th style="width: 5%">FrameHeight</th>
            <th style="width: 5%">ContentType</th>
            <th style="width: 5%">Rating</th>
            <th style="width: 5%">TotalBitrate</th>
            <th style="width: 5%">EncodingBitrate</th>
            <th style="width: 7%">Size</th>
            <th style="width: 7%">IsDeleted</th>
        </tr>
        <tr>
            <th>12345</th>
            <th>1</th>
            <th>1</th>
            <th>1</th>
            <th>1</th>
            <th>1</th>
            <th>1</th>
            <th>1</th>
            <th>1</th>
            <th>1</th>
            <th>1</th>
            <th>1</th>
        </tr>
    </table>

</body>
</html>


